<div class="container pagecontainer">
  <div class="page-header">
      <h1>Downtime Criterion</h1>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="33%">Tool</th>
            <th width="33%">Downtime</th>
            <th width="33%">Criterion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
